@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/*
#b5d3af light moss green
#8fb9a1 dark sea green
#719d92 desaturated cyan
#4a7482 ming
#11233e yankees blue
*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  scroll-behavior: smooth;
  position: relative;
}

.container {
  margin: 0;
  padding: 0;
  max-width: auto;
}

.navbar {
  background-color: #11233e;
  position: fixed;
  top: -100px;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: top 0.5s;
}

#giraffe {
  background-image: url('/img/giraffe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.75vw;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vmax;
  font-weight: 100;
  color: #ccc;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar-brand:hover {
  color: #8fb9a1;
 }
 
 .nav {
   margin: 2.5vh 2vw 0 0;
 }
 
 .nav > li {
   padding: 0 1vw 0 1vw;
 
 }
 
 .nav > li > .nav-link {
   color: #8fb9a1;
   padding: 0 0 15px 0;
 }
 
 .nav > li > a.nav-link:hover {
   color: #ccc;
   border-bottom: 2px solid #b5d3af;
   padding: 0;
 }
 
 .nav > li > .nav-link:active {
   color: #fff;
   border-bottom: 1px solid #ccc;
   padding: 0;
 }

#home {
  background: url('/img/poly_bg.jpg') no-repeat center center fixed;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 7vw;
  color: #ccc;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  mix-blend-mode: color-burn;
  text-transform: uppercase;
}

#home h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2.3vw;
  color: #ccc;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  text-transform: lowercase;
  letter-spacing: .75vw;
}

#home h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.75vw;
  color: #ccc;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  text-transform: lowercase;
  letter-spacing: .75vw;
}

#home .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home a.action {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: #ccc;
  background-color: rgba(0, 0, 0, .65);
  margin-top: 2vh;
}

#home a.action:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: #719d92;
  background-color: rgba(0, 0, 0, .5);
}

#about {
  background: url('/img/poly_bg.jpg') no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .container {
  max-width: 100%;
  height: 100%;
  background-color: rgba(169, 169, 169, .9);
  padding: 12vh 10vw 0 10vw;
  display: flex;
  flex-direction: column;
}

#about img#self {
  width: 100%;
  border: 2px solid #8fb9a1;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

#about > .container > .row > .text-left > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.3vw + 1.3vh + .85vmin);
  color: #4a7482;
}

#about > .container > .row > .text-left > h2,
#about > .container > .row > .text-right > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1vw + 1vh + .85vmin);
  color: #4a7482;
}

#about p {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(.75vw + .75vh + .25vmin);
}

#about .mission {
  margin: 3vh 0 0 0;
}

.socmed img {
  min-width: 2vw;
  max-width: 3vw;
}

#projects .panel {
  opacity: 0.85;
}

#projects {
  background: url('/img/flowers.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#projects .container {
  margin: 0px auto;
  padding: 5vh 0;
}

#projects h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(3vw + 3vh + .75vmin);
  color: #666;
  mix-blend-mode: difference;
  text-transform: lowercase;
  margin: 5vh 0 0 3vw;
}

.card > .card-body > h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  color: #4a7482;
}

#tech {
  background-color: #4a7482;
  color: #ffffff;
}

#tech h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.5vw + 1.5vh + .75vmin);
  color: #ccc;
  padding: 3vh 0 0 3vw;
}

#tech .container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#tech .faicons {
  color: #8fb9a1;
  margin: 2vw;
}

#tech .faicons:hover {
  color: #ccc;
}

#invol {
  background: url('/img/stars.jpg') no-repeat center center fixed;
  height: 75vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#invol h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(2vw + 2vh + .75vmin);
  color: #ccc;
  text-transform: lowercase;
  text-shadow: 3px 3px 5px #000;
  padding: 3vh 0 0 3vw;
}

#invol h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1vw + 1vh + .75vmin);
  color: #ccc;
  text-transform: lowercase;
  text-shadow: 3px 3px 5px #000;
  padding: 0 0 0 3vw;
}

footer {
  padding: 20px 0;
}