.navbar {
  background-color: #11233e;
  position: fixed;
  top: -100px;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: top 0.5s;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vmax;
  color: #ccc;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
}

.navbar-brand:hover {
 color: #8fb9a1;
}

#giraffe {
  background-image: url('assets/img/giraffe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.5vw;
}

.nav {
  margin: 2.5vh 2vw 0 0;
}

.nav > li {
  padding: 0 1vw 0 1vw;

}

.nav > li > .nav-link {
  color: #8fb9a1;
  padding: 0 0 15px 0;
}

.nav > li > a.nav-link:hover {
  color: #ccc;
  border-bottom: 2px solid #b5d3af;
  padding: 0;
}

.nav > li > .nav-link:active {
  color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0;
}